{
  "title": ${jsonencode(title)},
  "description": ${jsonencode(description)},
  "layout_type": "ordered",
  "reflow_type": "auto",
  "notify_list": [],
  "template_variables": [
    {"name": "env", "prefix": "env", "available_values": [], "default": ${jsonencode(env)}}
  ],
  "widgets": ${jsonencode(widgets)}
}
